:root{
    color-scheme: light dark;
}

body{
    font-family: sans-serif;
    line-height: 1.625;
    background-color: light-dark(#fff, #23272e);
    padding: .5rem;
}

/*inherit - значит, наследовать для всего документа*/
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.generator-form button{
    margin-top: 1rem;
}